body { font-family: sans-serif; text-align: center; 
  margin: 0; padding: 0; background: #062C50;
}
header { background: #D24C00; color: skyblue; padding: 
  20px;
}
.gallery { display: flex; flex-wrap: wrap; 
  justify-content: center; gap: 10px; margin: 20px;
}
.gallery img { width: 200px; border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
